
{% extends 'dating/index.html' %}

{% block style %}
{% load staticfiles %}
.arrow {
  margin-top: 100px;
}

.arrowCenter {
  margin-top: +200px;
}

.cardHeight {
  height: 500px;
}

{% endblock style %}

{% block content %}

  <div class="ui grid">

    <div class="right aligned two wide column arrowCenter">
    </div>

    <div class="center aligned twelve wide column">
      <div class="ui one cards">
        <div class="card cardHeight">
          <div class="content top">
            <div class="header"><h2>{{user.user_name}}</h2></div>
            <div class="description">
              {{user.user_description}}
            </div>
          </div>

          {% for q in gachi %}
          <div class="left aligned content">
            <div class="header">
              <i class="talk icon"></i>
              {{q.0}}
            </div>
            <div class="description">
              {{q.1}}
            </div>
          </div>
          {% endfor %}

          <div class="extra content">
            <div class="right floated">
              Matches <i class="star icon"></i> {{score}}
            </div>
          </div>

          <div class="ui green bottom attached button" style="height: 40px;">
            <i class="call icon"></i>
            Phone {{user.user_phone_no}}
          </div>

        </div>
      </div>
    </div>

    <div class="left aligned two wide column arrowCenter">
      <button class=" massive ui icon button arrow" type="submit" name= "seq_num" value={{seq_num|add:"1"}} {{disabled_right}}>
        <i class="chevron right icon"></i>
      </button>
    </div>

  </div>
{% endblock content %}
